body {
  background-color: #808080;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.container {
  width: 530px;
  height: 670px;
  margin: 50px auto;
  background-image: url("city.jpg");
}
.box {
  width: 530px;
  height: 670px;
  background-color: rgba(40,0,100,0.8);
}
.info {
  width: 75%;
  margin: 0 auto;
  padding-top: 60px;
}
h3 {
  display: inline-block;
  margin-bottom: 90px;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 1.5px;
  color: #808080;
  padding-bottom: 7px;
}
#signin {
  color: #fff;
  border-bottom: 2px solid #3069df;
  margin-right: 20px;
}
label {
  display: block;
  text-indent: 20px;
  color: #808080;
  text-transform: uppercase;
  font-size: 14px;
}
.login {
  display: block;
  margin: 10px 0px 20px;
  width: 100%;
  border: none;
  height: 35px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  text-indent: 20px;
  font-size: 14px;
}
.checkbox {
  margin-top: 30px;
}
.checkbox img {
  display: inline;
  float: left;
  background-color: #3069df;
  border-radius: 4px;
  width: 16px;
  margin: 0px 10px 0px 20px;
}
button {
  width: 100%;
  border: none;
  height: 35px;
  border-radius: 20px;
  background-color: #3069df;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7px;
  margin: 10px 0px 70px;
}
button:hover {
  cursor: pointer;
  background-color: #1d51bc;
}
h4 {
  text-align: center;
  color: #808080;
  padding-top: 50px;
  border-top: 1px solid #808080;
}
h4:hover {
  color: #d3d3d3;
  cursor: pointer;
}
